git+git://github.com/alecthomas/injector.git@fc3ca9037e52fe0daecb92e802681785ebdc2d14
git+git://github.com/alecthomas/flask_injector.git@7d585466db5022c175c074baa795d68e2a575db3
pydns
xmpppy
requests
flask
